<div>
  <h2 id="page-heading" data-cy="CreditFacilityHeading">
    <span jhiTranslate="facilityApp.creditFacility.home.title">Credit Facilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="facilityApp.creditFacility.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-credit-facility"
        [routerLink]="['/credit-facility/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="facilityApp.creditFacility.home.createLabel"> Create a new Credit Facility </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="creditFacilities?.length === 0">
    <span jhiTranslate="facilityApp.creditFacility.home.notFound">No creditFacilities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="creditFacilities && creditFacilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="facilityApp.creditFacility.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalLimit">
            <span jhiTranslate="facilityApp.creditFacility.totalLimit">Total Limit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="availableLimit">
            <span jhiTranslate="facilityApp.creditFacility.availableLimit">Available Limit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="facilityApp.creditFacility.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="facilityApp.creditFacility.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="facilityApp.creditFacility.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="editedBy">
            <span jhiTranslate="facilityApp.creditFacility.editedBy">Edited By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="editedOn">
            <span jhiTranslate="facilityApp.creditFacility.editedOn">Edited On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="facilityApp.creditFacility.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="facilityApp.creditFacility.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="applicant.fullName">
            <span jhiTranslate="facilityApp.creditFacility.applicant">Applicant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.code">
            <span jhiTranslate="facilityApp.creditFacility.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creditFacility of creditFacilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/credit-facility', creditFacility.id, 'view']">{{ creditFacility.id }}</a>
          </td>
          <td>{{ creditFacility.code }}</td>
          <td>{{ creditFacility.totalLimit }}</td>
          <td>{{ creditFacility.availableLimit }}</td>
          <td>{{ creditFacility.startDate | formatMediumDate }}</td>
          <td>{{ creditFacility.endDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'facilityApp.Status.' + creditFacility.status }}">{{ creditFacility.status }}</td>
          <td>{{ creditFacility.editedBy }}</td>
          <td>{{ creditFacility.editedOn | formatMediumDate }}</td>
          <td>{{ creditFacility.createdBy }}</td>
          <td>{{ creditFacility.createdOn | formatMediumDate }}</td>
          <td>
            <div *ngIf="creditFacility.applicant">
              <a [routerLink]="['/applicant', creditFacility.applicant?.id, 'view']">{{ creditFacility.applicant?.fullName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="creditFacility.currency">
              <a [routerLink]="['/currency', creditFacility.currency?.id, 'view']">{{ creditFacility.currency?.code }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/credit-facility', creditFacility.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/credit-facility', creditFacility.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(creditFacility)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="creditFacilities && creditFacilities.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
