<div>
  <h2 id="page-heading" data-cy="CreditFacilityHeading">
    <span>Credit Facilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-credit-facility"
        [routerLink]="['/credit-facility/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Credit Facility </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="creditFacilities?.length === 0">
    <span>No creditFacilities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="creditFacilities && creditFacilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalLimit"><span>Total Limit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="availableLimit"><span>Available Limit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDate"><span>Start Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endDate"><span>End Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="editedBy"><span>Edited By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="editedOn"><span>Edited On</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdOn"><span>Created On</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applicant.fullName"><span>Applicant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creditFacilityLoanLimit.id">
            <span>Credit Facility Loan Limit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.code"><span>Currency</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creditFacility of creditFacilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/credit-facility', creditFacility.id, 'view']">{{ creditFacility.id }}</a>
          </td>
          <td>{{ creditFacility.totalLimit }}</td>
          <td>{{ creditFacility.availableLimit }}</td>
          <td>{{ creditFacility.startDate | formatMediumDate }}</td>
          <td>{{ creditFacility.endDate | formatMediumDate }}</td>
          <td>{{ creditFacility.status }}</td>
          <td>{{ creditFacility.editedBy }}</td>
          <td>{{ creditFacility.editedOn | formatMediumDate }}</td>
          <td>{{ creditFacility.createdBy }}</td>
          <td>{{ creditFacility.createdOn | formatMediumDate }}</td>
          <td>
            <div *ngIf="creditFacility.applicant">
              <a [routerLink]="['/applicant', creditFacility.applicant?.id, 'view']">{{ creditFacility.applicant?.fullName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="creditFacility.creditFacilityLoanLimit">
              <a [routerLink]="['/credit-facility-loan-limit', creditFacility.creditFacilityLoanLimit?.id, 'view']">{{
                creditFacility.creditFacilityLoanLimit?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="creditFacility.currency">
              <a [routerLink]="['/currency', creditFacility.currency?.id, 'view']">{{ creditFacility.currency?.code }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/credit-facility', creditFacility.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/credit-facility', creditFacility.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(creditFacility)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="creditFacilities && creditFacilities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
