<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-credit-facility-loan-limit-heading" data-cy="CreditFacilityLoanLimitCreateUpdateHeading">
        Create or edit a Credit Facility Loan Limit
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalLimit">Total Limit</label>
          <input
            type="number"
            class="form-control"
            name="totalLimit"
            id="field_totalLimit"
            data-cy="totalLimit"
            formControlName="totalLimit"
          />
          <div *ngIf="editForm.get('totalLimit')!.invalid && (editForm.get('totalLimit')!.dirty || editForm.get('totalLimit')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('totalLimit')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalLimit')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let status of statusValues" [value]="status">status</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_editedBy">Edited By</label>
          <input type="text" class="form-control" name="editedBy" id="field_editedBy" data-cy="editedBy" formControlName="editedBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_editedOn">Edited On</label>
          <div class="input-group">
            <input
              id="field_editedOn"
              data-cy="editedOn"
              type="text"
              class="form-control"
              name="editedOn"
              ngbDatepicker
              #editedOnDp="ngbDatepicker"
              formControlName="editedOn"
            />
            <button type="button" class="btn btn-secondary" (click)="editedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdOn">Created On</label>
          <div class="input-group">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="text"
              class="form-control"
              name="createdOn"
              ngbDatepicker
              #createdOnDp="ngbDatepicker"
              formControlName="createdOn"
            />
            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_loanType">Loan Type</label>
          <select class="form-control" id="field_loanType" data-cy="loanType" name="loanType" formControlName="loanType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="loanTypeOption.id === editForm.get('loanType')!.value?.id ? editForm.get('loanType')!.value : loanTypeOption"
              *ngFor="let loanTypeOption of loanTypesSharedCollection; trackBy: trackLoanTypeById"
            >
              {{ loanTypeOption.code }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
