<div>
  <h2 id="page-heading" data-cy="LoanPaymentHeading">
    <span jhiTranslate="facilityApp.loanPayment.home.title">Loan Payments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="facilityApp.loanPayment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loan-payment"
        [routerLink]="['/loan-payment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="facilityApp.loanPayment.home.createLabel"> Create a new Loan Payment </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="loanPayments?.length === 0">
    <span jhiTranslate="facilityApp.loanPayment.home.notFound">No loanPayments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="loanPayments && loanPayments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="facilityApp.loanPayment.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentDate">
            <span jhiTranslate="facilityApp.loanPayment.paymentDate">Payment Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="facilityApp.loanPayment.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="editedBy">
            <span jhiTranslate="facilityApp.loanPayment.editedBy">Edited By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="editedOn">
            <span jhiTranslate="facilityApp.loanPayment.editedOn">Edited On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="facilityApp.loanPayment.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="facilityApp.loanPayment.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loanPayment of loanPayments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/loan-payment', loanPayment.id, 'view']">{{ loanPayment.id }}</a>
          </td>
          <td>{{ loanPayment.amount }}</td>
          <td>{{ loanPayment.paymentDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'facilityApp.Status.' + loanPayment.status }}">{{ loanPayment.status }}</td>
          <td>{{ loanPayment.editedBy }}</td>
          <td>{{ loanPayment.editedOn | formatMediumDate }}</td>
          <td>{{ loanPayment.createdBy }}</td>
          <td>{{ loanPayment.createdOn | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/loan-payment', loanPayment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/loan-payment', loanPayment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(loanPayment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loanPayments && loanPayments.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
