<form *ngIf="loanPayment" name="deleteForm" (ngSubmit)="confirmDelete(loanPayment.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="loanPaymentDeleteDialogHeading">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <app-alert-error></app-alert-error>

    <p id="app-delete-loanPayment-heading">Are you sure you want to delete this Loan Payment?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button id="app-confirm-delete-loanPayment" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
    </button>
  </div>
</form>
