<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loanType">
      <h2 data-cy="loanTypeDetailsHeading"><span>Loan Type</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ loanType.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ loanType.code }}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
          <span>{{ loanType.label }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ loanType.status }}</span>
        </dd>
        <dt><span>Edited By</span></dt>
        <dd>
          <span>{{ loanType.editedBy }}</span>
        </dd>
        <dt><span>Edited On</span></dt>
        <dd>
          <span>{{ loanType.editedOn | formatMediumDate }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ loanType.createdBy }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ loanType.createdOn | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-type', loanType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
