<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 title"><span>Welcome, Credit Facility Customer Portal</span></h1>

    <div [ngSwitch]="account !== null">
      <p class="lead" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </p>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>

      <div class="container" *ngSwitchCase="true">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12">
            <div class="card text-bg-info border-info mb-3">
              <div class="card-body">
                <h5 class="card-title">View all facilities</h5>
                <p class="card-text">View all facilities</p>
                <a
                  routerLink="credit-facility"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="btn btn-outline-primary"
                  >Go</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div [ngSwitch]="account !== null">
  <div *ngSwitchCase="true">
    <h2>Hello, {{ account?.login }}</h2>
    <p>Welcome from credit facility customer portal</p>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 21.813 23.453">
          <path
            d="M4099.584,972.736h0l-10.882,3.9,1.637,14.4,9.245,5.153,9.245-5.153,1.686-14.4Z"
            transform="translate(-4088.702 -972.736)"
            fill="#808080"
          />
          <path d="M4181.516,972.736v23.453l9.245-5.153,1.686-14.4Z" transform="translate(-4170.633 -972.736)" fill="#808080" />
          <path d="M4137.529,1076.127l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1058.315)" fill="#ffe0b2" />
          <path d="M4137.529,1051.705l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1036.757)" fill="#fff3e0" />
          <path d="M4137.529,1027.283l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1015.199)" fill="#fff" />
        </svg>
        <span>View all facilities</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </div>
</div> -->
