<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 title"><span>Welcome, Credit Facility Customer Portal</span></h1>

    <div [ngSwitch]="account !== null">
      <p class="lead" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </p>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>

      <div class="container" *ngSwitchCase="true">
        <input class="form-control" type="text" id="creditFacility" placeholder="Type any keyword or reference no..." />
        <div class="card">
          <div class="card-header">Credit Facility Overview</div>
          <div class="card-body">
            <h5 class="card-title">Loan Details</h5>
            <p class="card-text">Check for the loan details</p>
            <a routerLink="credit-facility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View all loans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
