<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="creditFacility">
      <h2 data-cy="creditFacilityDetailsHeading"><span jhiTranslate="facilityApp.creditFacility.detail.title">Credit Facility</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ creditFacility.id }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.code">Code</span></dt>
        <dd>
          <span>{{ creditFacility.code }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.totalLimit">Total Limit</span></dt>
        <dd>
          <span>{{ creditFacility.totalLimit }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.availableLimit">Available Limit</span></dt>
        <dd>
          <span>{{ creditFacility.availableLimit }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.startDate">Start Date</span></dt>
        <dd>
          <span>{{ creditFacility.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.endDate">End Date</span></dt>
        <dd>
          <span>{{ creditFacility.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'facilityApp.Status.' + creditFacility.status }}">{{ creditFacility.status }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.editedBy">Edited By</span></dt>
        <dd>
          <span>{{ creditFacility.editedBy }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.editedOn">Edited On</span></dt>
        <dd>
          <span>{{ creditFacility.editedOn | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.createdBy">Created By</span></dt>
        <dd>
          <span>{{ creditFacility.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.createdOn">Created On</span></dt>
        <dd>
          <span>{{ creditFacility.createdOn | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.applicant">Applicant</span></dt>
        <dd>
          <div *ngIf="creditFacility.applicant">
            <a [routerLink]="['/applicant', creditFacility.applicant?.id, 'view']">{{ creditFacility.applicant?.fullName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.currency">Currency</span></dt>
        <dd>
          <div *ngIf="creditFacility.currency">
            <a [routerLink]="['/currency', creditFacility.currency?.id, 'view']">{{ creditFacility.currency?.code }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="facilityApp.creditFacility.loanLimit">Loan Limit</span></dt>
        <dd>
          <span *ngFor="let loanLimit of creditFacility.loanLimits; let last = last">
            <a [routerLink]="['/credit-facility-loan-limit', loanLimit?.id, 'view']">{{ loanLimit.code }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/credit-facility', creditFacility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
